<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About Us</h4>
        <p class="text-muted">With over a years of development experience in a number of industries we realized that the typical product creation process between clients and developers was flawed. All to often developers rarely comunicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user. For this reason we decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When we take on a project not only do we work to craft the application according to the client's specifications, we give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path, class: 'text-white' %></li>
          <li><%= link_to "Contact", contact_path, class: 'text-white' %></li>
          <li><%= link_to "Portfolio", portfolios_path, class: 'text-white' %></li>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">3000Labs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
