<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>TigaribuLabsPortfolio</title>
=======
    <title>Tigaribulabs</title>
>>>>>>> de6183d9b247f05eaff0722721bfbd5eafd64230
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
